/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: math; }

.loading-overlay{
    background-color: darkgray;
    opacity: 0.5 !important;
    cursor: not-allowed;
}
.cdk-overlay-connected-position-bounding-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
